.carousel-inner {
    position: relative;
    height: 10rem;
    overflow: hidden;
}

.carousel-inner > img {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(100%, 0);
    transition: transform 0.5s;
}

.carousel-inner > img.active {
    opacity: 1;
    transform: translate(0, 0);
}
.carousel-inner > img.previous {
    opacity: 1;
    transform: translate(-100%, 0);
}
