td img.property-image {
    height: 4rem;
    width: auto;
}

td img.property-image.medium {
    height: 8rem;
    width: auto;
}

textarea.no-resize {
    resize: none;
}

.table>tbody>tr>td {
    padding: 5px 10px !important;
}

.dtable-ico-btn {
    padding: 5px;
    font-size: 1.1em;
}